= form_for [ticket, ticket.item_tickets.new], html: { class: "form ui"} do |f|
  .ui.grid
    .ten.wide.column
      .field
        = f.label :item_id, "Item"
        = f.select :item_id, Item.all.map{|i| [i.description, i.id]}, { }, class:"dropdown", style: "width: 100%"
    .six.wide.column
      .field
        = f.label :quantity, "Quantidade"
        = f.select :quantity, (1..50).map{|n| [n,n]}, {selected: 1}, class: "dropdown", style: "width: 80%", data: {placeholder: "Select item"}
  .actions
    %button.ui.button.mini.blue{ type:"submit"}
      Adicionar
