%h4.ui.header Agregar Items
= form_tag "/tickets/#{ticket.id}/item_tickets/bulk", method: :post, class: "form ui item-form" do
  .ui.grid.form.items
    .four.wide.column.field
      .ui.left.icon.input
        %i.icon.search
        %input{type: "text", class: "code_number", placeholder: "Cod", focus: true, autocomplete: "off", value: nil }
    .four.wide.column.field
      = number_field_tag "item_ticket[][quantity]", nil, placeholder: "Cant", min: "1"
    .eight.wide.column.field
      .ui.fluid.search.selection.dropdown.combo
        = hidden_field_tag "item_ticket[][item_id]", nil, class: "hidden_id"
        %i.dropdown.icon
        .default.text Seleccione Item
        .menu
          - Item.all.each do |item|
            .item{ data: { value: item.id, code: item.code } }
              = item.description
    .sixteen.wide.column.field
      = text_field_tag "item_ticket[][comment]", nil, placeholder: "Commentario"
      %input{type: "submit", style: "display: none"}
  .ui.red.message.item-code{style: "display:none"}
    No se encontro ningun item

:javascript
  function initItemTicketForm(){
    $('.item-form .dropdown').dropdown({
      onChange: function (val,text,elm) {
        var row = $(elm).parent().parent().parent().parent();
        row.find('input.code_number').val(elm.attr('data-code'));
      }
    });

    $(".item-form input.code_number").on("blur", function(){
      var val = $(this).val(),
        row = $(this).parent().parent().parent();
      if(val.length >= 1){
        $.ajax({
          url: "/items?code=" + val,
          dataType: "JSON",
          method: "GET",
          success: function(res){
            if(res.id !== null){
              row.find("input.hidden_id").val(res.id);
              row.find(".dropdown.combo").dropdown("set selected", res.id);
              row.find(".item-code").hide();
            }else{
              row.find(".item-code").show();
            }
          }
        })
      }
    });

     var rows = $("div.ui.grid.form.items");
     $(rows[rows.length-1]).find("input.code_number").focus();
  }

  $(document).ready(function(){
    initItemTicketForm();
  });
