%h2.ui.header.left.floated
  %i.icon.remove.bookmark{style: "font-size:25px"}
  = @daily_cash.date.strftime('%d/%m/%Y - %H:%M %p')
.ui.header.right.floated
  - if @daily_cash.close
    .ui.button.red
      Cerrado
  - else
    = link_to close_daily_cash_path(@daily_cash), method: :put, class: "ui button orange" do
      %i.icon.lock
      Cerrar

.ui.divider.clearing
- if current_user.admin?
  .ui.message.center{class: 'negative'}
    %div
      %b= number_to_currency @daily_cash.total
    %small
      TOTAL DEL DIA

  %table.ui.table
    %tbody
      %tr
        %td
          %b Fecha del cierre:
        %td= l @daily_cash.date, format: '%d/%m/%Y'
      %tr
        %td
          %b Total Arrastrado
          (total del ultimo cierre):
        %td= number_to_currency @last_closed_daily_cash.total
      %tr
        %td
          %b Total del dia
          (Suma del total de los turnos)
        %td= number_to_currency @total_shifts
      %tr
        %td
          %b Gastos del dia
          (Gastos fuera del turno)
        %td= number_to_currency @total_expenses
      %tr
        %td
          %b Caja Real
          (Suma de tickets - gastos del dia):
        %td= number_to_currency @total_shifts - @total_expenses
      %tr
        %td
          %b Caja final
          (Caja real + Total arrastrado):
        %td= number_to_currency @daily_cash.total

- unless @daily_cash.close
  %h2.ui.header
    Gastos extras
  = render partial: '/expenses/form', locals: { shift_or_user: current_user }


%table.ui.table
  %thead
    %th{style: "width:65%"} Descripcion
    %th.center.aligned Monto
  %tbody
    - @users_expenses.each do |expense|
      - unless expense.new_record?
        %tr
          %td= expense.description
          %td.center.aligned= number_to_currency expense.amount
    %tr
      %td
      %td.center.aligned
        .ui.button
          = "-#{number_to_currency @total_expenses}"

- if current_user.admin?
  %h2.ui.header
    Turnos
  - if @shifts.empty?
    .ui.message.center
      No hay Turnos
  - else
    %table.table.ui
      %thead
        %th Apertura (dia - hora)
        %th Cierre (dia - hora)
        %th Usuario
        %th Caja inicial
        %th Caja final
        %th
      %tbody
        - @shifts.each do |shift|
          %tr{class: shift.id == @current_shift.try(:id) ? 'positive' : ''}
            %td= shift.open.strftime('%d/%m/%Y - %H:%M %p')
            %td= shift.close.nil? ? '-----' : shift.close.strftime('%d/%m/%Y - %H:%M %p')
            %td= shift.user.username
            %td= number_to_currency shift.opening_cash
            %td= number_to_currency shift.closing_cash
            %td
              = link_to shift, class: "ui button mini icon tooltip", data: { content: "Ver detalles", variation: "inverted"} do
                %i.icon.search
              - if shift.is_open?
                = link_to close_shift_path(shift), method: :put, class: "tooltip ui button mini red icon", data: { content: "Cerrar", variation: "inverted"} do
                  %i.icon.lock


.ui.divider
