- if @open_shift_count > 0
  .ui.message.icon.warning
    %i.icon.food
    .content
      .header
        Cuidado!
      %p
        = "Aun hay #{@open_shift_count} turnos abiertos en el dia que deseas cerrar"

%h2.ui.header.left.floated
  %i.icon.remove.bookmark{style: "font-size:25px"}
  = @daily_cash.date.strftime('%d/%m/%Y - %H:%M %p')
.ui.header.right.floated
  - if @daily_cash.close
    .ui.button.red
      Cerrado
  - else
    = link_to close_daily_cash_path(@daily_cash), method: :put, class: "ui button orange" do
      %i.icon.lock
      Cerrar

.ui.divider.clearing
- if current_user.admin?
  .ui.message.center{class: 'negative'}
    %div
      %b= number_to_currency @total_shifts
    %small
      TOTAL TURNOS DEL DIA

  %table.ui.table
    %tbody
      %tr
        %td
          %b Fecha del cierre:
        %td= l @daily_cash.date, format: '%d/%m/%Y'
      %tr
        %td
          %b Extracciones
          (Suma del total de las extracciones del dia)
        %td= number_to_currency @daily_cash.total
      %tr
        %td
          %b Gastos
          (Gastos fuera del turno)
        %td= number_to_currency @total_expenses
      %tr
        %td
          %b Caja Real
          (Suma de extracciones - gastos del dia):
        %td= number_to_currency @daily_cash.total - @total_expenses

- if !@daily_cash.close && @daily_cash.date == Date.today
  %h2.ui.header
    Gastos extras
  = render partial: '/expenses/form_user'


%table.ui.table
  %thead
    %th
    %th Usuario
    %th{style: "width:35%"} Descripcion
    %th Proveedor
    %th.center.aligned Monto
  %tbody
    - @users_expenses.each do |expense|
      - unless expense.new_record?
        %tr
          %td
            = link_to expense, method: :delete do
              %i.icon.red.trash
          %td= expense.shift_or_user.try(:username)
          %td= expense.description
          %td= expense.supplier.try(:name)
          %td.center.aligned= number_to_currency expense.amount

    %tr
      %td
      %td
      %td
      %td
      %td.center.aligned
        .ui.button
          = "-#{number_to_currency @total_expenses}"

- if current_user.admin?
  %h2.ui.header
    Turnos
  - if @shifts.empty?
    .ui.message.center
      No hay Turnos
  - else
    %table.table.ui
      %thead
        %th Apertura (dia - hora)
        %th Cierre (dia - hora)
        %th Usuario
        %th Caja inicial
        %th Caja final
        %th Extracciones
        %th
      %tbody
        - @shifts.each do |shift|
          %tr{class: shift.id == @current_shift.try(:id) ? 'positive' : ''}
            %td= shift.open.strftime('%d/%m/%Y - %H:%M %p')
            %td= shift.close.nil? ? '-----' : shift.close.strftime('%d/%m/%Y - %H:%M %p')
            %td= shift.user.username
            %td= number_to_currency shift.opening_cash
            %td= number_to_currency shift.closing_cash
            %td= number_to_currency shift.extractions.sum(:amount)
            %td
              = link_to shift, class: "ui button mini icon tooltip", data: { content: "Ver detalles", variation: "inverted"} do
                %i.icon.search
              - if shift.is_open?
                = link_to close_shift_path(shift), method: :put, class: "tooltip ui button mini red icon", data: { content: "Cerrar", variation: "inverted"} do
                  %i.icon.lock


.ui.divider
