= form_for [shift, shift.extractions.new], html: { class: "ui form"} do |f|
  .ui.grid
    .six.wide.column.field
      = f.text_field :description, placeholder: "Agregar un Extraccion"
    - if current_user.admin?
      .three.wide.column.field
        .ui.fluid.search.selection.dropdown.combo
          = f.hidden_field :user_id
          %i.dropdown.icon
          .default.text Usuario
          .menu
            - User.all.each do |user|
              .item{ data: { value: user.id} }
                = user.username
    .two.wide.column.field
      .ui.toggle.checkbox{ style: "margin: 10px;"}
        = f.check_box :personal
        = f.label :personal, "Vale"
    .three.wide.column.field
      = f.text_field :amount, placeholder: "Valor $"
    .two.wide.column.field
      = f.submit "Agregar", class: "ui button blue"


:javascript
  $('.dropdown').dropdown();
