= link_to statistics_path do
  %h2.ui.header
    %i.icon.signal
    Estadisticas
.ui.divider
= form_tag statistics_path, method: :get, class: "ui form" do
  .ui.left.icon.input
    %i.icon.calendar
    %input{name: "date", value: params[:date], class: "datepicker", type: "text", autocomplete: "off", placeholder: "Seleccione una fecha"}



- unless params[:date].nil?
  .ui.message.center.blue
    Datos para el
    %b= params[:date]

.ui.grid.statistics
  %h2 Tickets y Facturacion
  .eleven.wide.column
    .ui.segment
      .statistic.red
        .value.center
          = number_to_currency @total
        .label.center
          Total Facturado
  .five.wide.column
    .ui.segment
      .statistic
        .value
          = @tickets.size
        .label
          Tickets totales

.ui.divider

- unless @by_items.empty?
  .ui.grid.statistics
    %h2 Ventas por Item
    - @by_items.each do |key, value|
      .eight.wide.column
        .ui.segment
          .statistic
            .value
              = value
            .label
              = key
