.ui.header
  %h2
    %i.icon.signal
    Estadisticas


= form_tag statistics_path, method: :get, class: "ui form" do
  .ui.icon.left.input
    %input{name: "date", class: "datepicker fluid", type: "text", autocomplete: "off", placeholder: "Seleccione una fecha"}
    %i.icon.circular.calendar

.ui.divider
- unless params[:date].nil?
  .ui.label
    Datos para el
    = params[:date]

.ui.grid.statistics
  %h2 Tickets y Facturacion
  .eight.wide.column
    .ui.segment
      .statistic
        .value
          %i.icon.cloud.download
          = @tickets.size
        .label
          Tickets totales
  .eight.wide.column
    .ui.segment
      .statistic
        .value.center
          = number_to_currency @total
        .label.center
          Total Facturado
.ui.divider

.ui.grid.statistics
  %h2 Ventas por Item
  - @by_items.each do |key, value|
    .eight.wide.column
      .ui.segment
        .statistic
          .value
            = value
          .label
            = key
:javascript
  $(document).ready(function(){
    $('.datepicker').pickadate();
  });
