%h2.ui.header
  = "#{@user.new_record? ? 'Crear' : 'Editar' }"
  usuario

- if @user.errors.any?
  .ui.message.negative
    %ul.list
      - @user.errors.full_messages.each do |msg|
        %li= msg

.ui.divider
= form_for @user, html: { class: "ui form" } do |f|
  .field
    = f.label "Usuario"
    = f.text_field :username, placeholder: "Ingresar el user"
  .field
    = f.label "Email"
    = f.text_field :email, placeholder: "Ingresar el email"
  - if current_user.is_admin? || @user.new_record?
    .field
      = f.label "Password"
      = f.password_field :password, placeholder: "Ingresar el password"
    .field
      = f.label "Confirmacion"
      = f.password_field :password_confirmation, placeholder: "Reingresar el password"

  .field
    = f.label "Role"
    .ui.fluid.search.selection.dropdown.combo
      = f.hidden_field :role
      %i.dropdown.icon
      .default.text Role
      .menu
        .item{ data: { value: 'admin'} }
          = "Admin"
        .item{ data: { value: 'manager'} }
          = "Encargad@"
        .item{ data: { value: 'user'} }
          = "Usuari@"
  .field
    %button.ui.button.blue{type: "submit"}
      Guardar


:javascript
  $('.dropdown').dropdown();
