%p#notice= notice

%p
  %b Name:
  = @trend.name
%p
  %b Description:
  = @trend.description
%p
  %b Address:
  = @trend.address
%p
  %b City:
  = @trend.city
%p
  %b Country:
  = @trend.country
%p
  %b Phone:
  = @trend.phone
%p
  %b Email:
  = @trend.email

= link_to 'Edit', edit_trend_path(@trend)
\|
= link_to 'Back', trends_path
