%h1.ui.header.left.floated
  Cliente
  = @client.name
%h1.ui.header.right.floated
  = link_to new_ticket_path(client_id: @client.id), class: "ui button basic orange" do
    %i.icon.plus
    Agregar ticket
  = link_to edit_client_path(@client), class: "ui button blue basic" do
    %i.icon.pencil
    Editar
  = link_to clients_path, class: "ui button basic green" do
    %i.icon.arrow.left
    Volver
.ui.divider.clearing

%h3 Deuda Total
.ui.segment.statistic{style: "max-width: 450px;min-width: 350px", class: @client.doubt > 0 ? 'red' : 'green'}
  .value= number_to_currency(@client.doubt)


.ui.divider

%table.ui.table.striped
  %thead
    %th Numero
    %th Fecha
    %th Total
    %th Estado
    %th
  %tbody
    - @client.tickets.each do |ticket|
      %tr
        %td
          = link_to "##{ticket.formatted_number}", ticket
        %td
          = ticket.created_at.strftime("%d/%m/%Y")
        %td
          = number_to_currency ticket.get_total
        %td
          = ticket.status == 'closed' ? 'Cerrado' : 'Abierto'
        %td.center
          = link_to "#", data: { target: ticket.id }, class: "toggle-row ui button circular basic orange icon mini" do
            %i.icon.plus


%h4.ui.header
  Pagos

- unless @client.doubt == 0
  = form_for [@client, @client.ticket_payments.new], html: { class: "ui form" } do |f|
    .ui.two.fields
      .field
        = f.text_field :amount, placeholder: 'Entrar monto'
      .field
        = f.submit "Guardar", class: "ui button blue"

%table.ui.table.striped.compact
  %thead
    %th Fecha
    %th Monto
    %th
  %tbody
    - @client.ticket_payments.each do |tp|
      - unless tp.new_record?
        %tr
          %td
            = tp.created_at.strftime('%d/%m/%Y')
          %td
            = number_to_currency tp.amount
          %td
            = link_to client_ticket_payment_path(@client, tp), method: :delete, style: "float: right" do
              %i.icon.remove.circular.red.small
