.ui.label
  %i.icon.calendar
  %b
    = Time.now.strftime('%d/%m/%Y')
.ui.label
  %i.icon.time
  %b
    = Time.now.strftime('%H:%M %p')

.ui.divider

= form_for @shift, html: { class: "ui form" } do |f|
  - if @shift.errors.any?
    .ui.message.negative
      %ul.list
        - @shift.errors.full_messages.each do |msg|
          %li= msg
  .inline.fields
    .field
      = f.number_field :opening_cash, placeholder: "Monto inicial $"
    .field
      %button.ui.button.green{ type: "submit"}
        Abrir
    .field
      = link_to "Cancelar", shifts_path, class: "ui button"
