- if @last_shift
  .ui.message.icon.success
    %i.icon.cash
    .content
      .header
        Ultimo turno cerrado
      .ui.tag.labels
        %a.ui.label.blue
          = @last_shift.close.strftime('%d/%m/%Y %H:%M %p')
        %a.ui.label.blue
          ="Cierre de caja : #{number_to_currency @last_shift.closing_cash}"
        %a.ui.label.blue
          ="Extracciones : #{number_to_currency @last_shift.total_extractions}"

= form_for @shift, html: { class: "ui form"} do |f|
  .ui.grid
    .two.wide.column
      .ui.label
        %i.icon.calendar
        %b
          = Time.now.strftime('%d/%m/%Y')
    .two.wide.column
      .ui.label
        %i.icon.time
        %b
          = Time.now.strftime('%H:%M %p')
    .six.wide.column
      .ui.form
        .inline.field
          = f.label :opening_cash, "El turno se deberia abrir con"
          = f.text_field :opening_cash, value: @shift.opening_cash
    .four.wide.column
      %button.ui.button.blue{type:"submit"}
        Guardar