.ui.label
  %i.icon.calendar
  %b
    = Time.now.strftime('%d/%m/%Y')
.ui.label
  %i.icon.time
  %b
    = Time.now.strftime('%H:%M %p')

.ui.label
  %i.icon.money.green
  = number_to_currency @shift.opening_cash

.ui.divider

.ui.grid
  .two.wide.column
    = link_to "Abrir", shifts_path(@shift.id, opening_cash: @shift.opening_cash), method: :post, class: "ui button green"
  .two.wide.column
    = link_to "Cancelar", shifts_path, class: "ui button"