- if @last_shift
  .ui.message.icon.success
    %i.icon.cash
    .content
      .header
        Ultimo turno cerrado
      .ui.tag.labels
        %a.ui.label.blue
          = @last_shift.close.strftime('%d/%m/%Y %H:%M %p')
        %a.ui.label.blue
          ="Cierre de caja : #{number_to_currency @last_shift.closing_cash}"
        %a.ui.label.blue
          ="Extracciones : #{number_to_currency @last_shift.total_extractions}"

= form_for @shift, html: { class: "ui form"} do |f|
  .ui.label
    %i.icon.calendar
    %b
      = Time.now.strftime('%d/%m/%Y')
  .ui.label
    %i.icon.time
    %b
      = Time.now.strftime('%H:%M %p')

  .ui.label
    %i.icon.money.green
    = f.number_field :opening_cash, value: @shift.opening_cash

  .ui.divider

  .ui.grid
    .two.wide.column
      = f.submit "Guardar", class: "ui button"
    .two.wide.column
      = link_to "Cancelar", shifts_path, class: "ui button"
