%h2.ui.header.left.floated
  Turnos
.ui.header.right.floated
  - unless @current_shift
    = link_to new_shift_path, class: "ui button small teal" do
      %i.icon.plus
      Nuevo Turno

.ui.clearing.divider

%table.table.ui
  %thead
    %th Apertura
    %th Cierre
    %th Caja inicial
    %th Caja final
    %th
  %tbody
    - @shifts.each do |shift|
      %tr{class: shift.id == @current_shift.try(:id) ? 'positive' : ''}
        %td= shift.open.strftime('%d/%m/%Y %H:%M %p')
        %td= shift.close.nil? ? '-----' : shift.close.strftime('%d/%m/%Y %H:%M %p')
        %td= number_to_currency shift.opening_cash.to_f
        %td= number_to_currency (shift.closing_cash.to_f + shift.opening_cash.to_f)
        %td
          = link_to shift, class: "ui button mini icon tooltip", data: { content: "Ver detalles", variation: "inverted"} do
            %i.icon.search
          - if shift.is_open? && !shift.has_open_tables?
            = link_to close_shift_path(shift), method: :put, class: "tooltip ui button mini red icon", data: { content: "Cerrar", variation: "inverted"} do
              %i.icon.lock
