%h2.ui.header.left.floated
  Turnos
.ui.header.right.floated
  - unless @current_shift
    = link_to new_shift_path, class: "ui button teal" do
      %i.icon.plus
      Nuevo Turno

.ui.clearing.divider

%table.table.ui
  %thead
    %th Apertura (dia - hora)
    %th Cierre (dia - hora)
    %th Usuario
    %th
  %tbody
    - @shifts.each do |shift|
      %tr{class: shift.id == @current_shift.try(:id) ? 'positive' : ''}
        %td= shift.open.strftime('%d/%m/%Y - %H:%M %p')
        %td= shift.close.nil? ? '-----' : shift.close.strftime('%d/%m/%Y - %H:%M %p')
        %td= shift.user.username
        %td
          - if current_user.admin? || shift.user.username == current_user.username
            = link_to shift, class: "ui button mini icon tooltip", data: { content: "Ver detalles", variation: "inverted"} do
              %i.icon.search
            - if shift.is_open? && !shift.has_open_tickets?
              = link_to close_shift_path(shift), method: :put, class: "tooltip ui button mini red icon", data: { content: "Cerrar", variation: "inverted"} do
                %i.icon.lock
