%h1.ui.header Turnos
.ui.divider

%table.table.ui
  %thead
    %th Apertura
    %th Cierre
    %th Caja inicial
    %th
  %tbody
    - @shifts.each do |shift|
      %tr
        %td= shift.open.strftime('%d/%m/%Y')
        %td= shift.close || '-----'
        %td= number_to_currency shift.money
        %td
          = link_to 'Detalles', shift, class: "ui button small"
          - if shift.is_open?
            = link_to 'Cerrar', "shifts/#{shift.id}/close", method: :post, class: "ui button small red"
  
%br

= link_to 'New Shift', new_shift_path, class: "ui button blue"
