%p#notice= notice

%p
  %b Apertura:
  = @shift.open
%p
  %b Caja inicial:
  = @shift.opening_cash
%p
  %b Total vendido:
  = @shift.closing_cash
%p
  %b Caja final:
  = @shift.opening_cash + @shift.closing_cash
%p
  %b Cierre:
  = @shift.close || "No dispobible"

= link_to 'Mesas', "/tables#index"
