%h2.ui.header.left.floated
  %i.icon.remove.bookmark{style: "font-size:25px"}
  = @shift.open.strftime('%d/%m/%Y - %H:%M %p')
.ui.header.right.floated
  - if @current_shift && @current_shift.id == @shift.id
    .ui.button.green
      Abierto
    = link_to close_shift_path(@shift), method: :put, class: "ui button orange" do
      %i.icon.lock
      Cerrar

.ui.divider.clearing
- if current_user.admin? || !@shift.is_open?
  .ui.message.center{class: @shift.is_open? ? 'negative' : 'positive'}
    %div
      %b= number_to_currency @total_tickets
    %small
      - if @shift.is_open?
        PARCIAL VENTAS
      - else
        TOTAL VENDIDO

  %table.ui.table
    %tbody
      %tr
        %td Cierre:
        %td= @shift.close.nil? ? "No dispobible" : "#{l @shift.close, format: '%d/%m/%Y - %H:%M %p'}"
      %tr
        %td Caja inicial:
        %td= number_to_currency @shift.opening_cash.to_f
      %tr
        %td Gastos
        %td= number_to_currency @total_expenses
      %tr
        %td Caja final:
        %td= number_to_currency (@shift.opening_cash.to_f + @total_tickets - @total_expenses)
      %tr
        %td Extracciones
        %td= number_to_currency @total_extractions
      %tr
        %td Caja inicial proximo turno:
        %td= number_to_currency (@shift.opening_cash.to_f + @total_tickets - @total_expenses - @total_extractions)

%h2.ui.header
  Gastos
- if @shift.is_open?
  = render partial: '/expenses/form_shift', locals: { shift_or_user: @shift }

%table.ui.table
  %thead
    %th{style: "width:35%"} Descripcion
    %th Proveedor
    %th.center.aligned Monto
  %tbody
    - @shift.expenses.each do |expense|
      - unless expense.new_record?
        %tr
          %td= expense.description
          %td= expense.supplier.try(:name)
          %td.center.aligned= number_to_currency expense.amount
    %tr
      %td
      %td
      %td.center.aligned
        .ui.button
          = "-#{number_to_currency @total_expenses}"

%h2.ui.header
  Extracciones
- if @shift.is_open?
  = render partial: '/extractions/form', locals: { shift: @shift }

%table.ui.table
  %thead
    %th{style: "width:65%"} Descripcion
    %th Usuario
    %th.center.aligned Monto
  %tbody
    - @shift.extractions.each do |extraction|
      - unless extraction.new_record?
        %tr
          %td= extraction.description
          %td= extraction.user.try(:username)
          %td.center.aligned= number_to_currency extraction.amount
    %tr
      %td
      %td
      %td.center.aligned
        .ui.button
          = "-#{number_to_currency @total_extractions}"

- if current_user.admin? || !@shift.is_open?
  %h2.ui.header
    Tickets
  - if @shift.tickets.empty?
    .ui.message.center
      No hay tickets
  - else
    %table.ui.table
      %thead
        %th{style: "width:15%"} Num
        %th{style: "width:30%"} Mesa
        %th{style: "width:20%"} Estado
        %th.center.aligned Total
      %tbody
        - @shift.tickets.each do |ticket|
          %tr
            %td= ticket.formatted_number
            %td= ticket.table.try(:name) || 'Para llevar'
            %td= ticket.status == 'closed' ? '<i class="icon lock"></i> Cerrado'.html_safe : '<i class="icon unlock"></i> Abierto'.html_safe
            %td.center.aligned= number_to_currency ticket.total
        %tr
          %td{colspan: 3}
          %td.center.aligned
            .ui.button
              = number_to_currency @total_tickets

- unless @by_items.empty?
  .ui.grid.statistics
    %h2 Ventas por Item
    - @by_items.each do |key, value|
      .eight.wide.column
        .ui.segment
          .statistic
            .value
              = value[:total]
            .label.center
              = "Total #{key} - #{number_to_currency value[:subtotal]}"

.ui.divider

.center
  = link_to current_user.admin? ? shifts_path : :back, class: "ui button" do
    %i.icon.arrow.left
    Volver

.center
  .ui.label.blue{style: "margin: 10px 0"}
    %i.icon.user
    Abierto por
    = @shift.user.try(:email)
