%i.close.icon
.header
  Cerrar Ticket
  = "%0.6d" % @ticket.number
  .right
    = l @ticket.created_at, format: :long
.content
  = form_for @ticket, html: {id: "update-ticket", class: "ui form" } do |f|
    = f.hidden_field :status, value: "closed"
    = f.hidden_field :payment, value: "efectivo"
    .ui.button.green.icon.labeled
      %i.icon.dollar
      = number_to_currency @ticket.total, unit: ""
    .ui.button.blue.icon.labeled{style: "float: right"}
      %i.icon.payment
      Efectivo

    %table.table.ui
      %thead
        %th Item
        %th Cantidad
        %th Precio
        %th Sub Total
      %tbody
        - @ticket.item_tickets.each do |t|
          %tr
            %td= t.item.description
            %td= t.quantity
            %td= number_to_currency t.item.price
            %td= number_to_currency t.sub_total

    .field{style: "float: right"}
      = f.submit 'Guardar', class: "ui button positive"
      = link_to "Cancelar", "#", class: "ui button close"
