%i.close.icon
.header
  %h2.ui.left.floated.header
    Ticket
    = "# %0.6d" % @ticket.number
  %h2.ui.right.floated.header
    = l @ticket.created_at, format: "%d/%m/%Y - %H:%M %p"
  .clearfix
.content
  - if @ticket.client_id
    .center
      = link_to unlink_client_ticket_path(@ticket), method: :patch, class: "ui button icon labeled red" do
        %i.icon.unlink
        Remover Cliente
        = @ticket.client.name
    .ui.divider
  = form_for @ticket, html: { class: "ui form"} do |f|
    .field
      .ui.search.selection.dropdown.wide
        = f.hidden_field :client_id
        %i.dropdown.icon
        .default.text Seleccionar Cliente
        .menu
          - @clients.each do |client|
            .item{ data: {value: client.id}}
              = client.name
    .two.fields
      .field
        = link_to "#", class: "ui button fluid labeled icon close" do
          %i.icon.remove
          Cancelar
      .field
        %button.ui.button.icon.labeled.fluid.blue{type: "submit"}
          %i.icon.check
          Asignar

  %script
    $('.dropdown').dropdown({transition: 'drop'});
