%i.close.icon
.header
  %h2.ui.left.floated.header
    Ticket
    = "# %0.6d" % @ticket.number
  %h2.ui.right.floated.header
    = l @ticket.created_at, format: "%d/%m/%Y - %H:%M %p"
  .clearfix
.content
  - if @ticket.client_id
    .center
      = link_to unlink_client_ticket_path(@ticket), method: :patch, class: "ui button icon labeled red" do
        %i.icon.unlink
        Remover Cliente
        = @ticket.client.name
    .ui.divider
  = form_for @ticket, html: { class: "ui form"} do |f|
    .two.fields
      .field
        .ui.search.selection.dropdown.wide
          = f.hidden_field :client_id
          %i.dropdown.icon
          .default.text Seleccionar Cliente
          .menu
            - @clients.each do |client|
              .item{ data: {value: client.id}}
                = client.name
      .field
        = f.submit "Asignar", class: "ui button blue fluid"
  %script
    $('.dropdown').dropdown({transition: 'drop'});
