- if params[:table_id]
  %h2.ui.header.left.floated
    = "Tickets de la Mesa ##{params[:table_id]}"
  %h2.ui.header.right.floated
    = link_to "Ver todos", tickets_path, class: "ui button small blue"
- else
  %h2.ui.header.left.floated
    Todos los Tickets

.ui.divider.clearing

- if @tickets.empty?
  .ui.message
    %i.icon.info
    No hay tickets todavia
- else
  %table.ui.table
    %thead
      %th
      %th Mesa
      %th Fecha
      %th Total
      %th Pago
    %tbody
      - @tickets.order("date").each do |ticket|
        %tr
          %td
            = link_to ticket, class: "ui button icon mini orange" do
              %i.icon.external.link
          %td= "Mesa Nro. #{ticket.table.number}"
          %td= ticket.date.strftime("%d/%m/%Y")
          %td= number_to_currency ticket.total
          %td= Ticket::PAYMENT_TYPE[ticket.payment-1][1] if ticket.payment
  = paginate @tickets
  
