- if params[:table_id]
  %h2.ui.header.left.floated
    = "Tickets de la Mesa ##{@table.name}"
  %h2.ui.header.right.floated
    = link_to "Ver todos", tickets_path, class: "ui button teal"
- else
  %h2.ui.header.left.floated
    Todos los Tickets
  %h2.ui.header.right.floated
    = link_to "Ticket para llevar", tickets_path(q: 'noTable'), class: "ui button teal"
.ui.divider.clearing

- if @tickets.empty?
  .ui.message
    %i.icon.info
    No hay tickets todavia
- else
  %table.ui.table
    %thead
      %th #
      %th Mesa
      %th Cliente
      %th Fecha
      %th Total
      %th Estado
      %th Pago
      %th

    %tbody
      - @tickets.order("date").each do |ticket|
        %tr{class: ticket.open? ? 'positive' : nil}
          %td= ticket.number
          %td
            - if ticket.table
              = link_to ticket.table.name, ticket.table
            - elsif ticket.table.nil? && ticket.client.nil?
              Para llevar
            - else
              \---
          %td= ticket.client.try(:name) || '---'
          %td= ticket.date.strftime("%d/%m/%Y")
          %td= number_to_currency ticket.total
          %td= ticket.status == 'closed' ? "Cerrado" : "Abierto"
          %td
            - if ticket.payment == 1
              %i.credit.card.alternative.icon
              Tarjeta
            - else
              %i.money.icon
              Efectivo
          %td
            - if ticket.open?
              = link_to ticket, class: "ui button icon mini circular basic orange" do
                %i.icon.external.arrow.right
              - unless ticket.table.nil?
                = link_to unlink_table_ticket_path(ticket),
                  method: :patch,
                  class: "ui button icon mini circular basic red tooltip",
                  data: { content:"Sacar de la mesa", variation: "inverted"} do
                  %i.icon.remove
            - else
              = link_to ticket, class: "ui button icon mini circular basic orange" do
                %i.icon.external.arrow.right

  = paginate @tickets
