- if params[:table_id]
  %h2.ui.header.left.floated
    = "Tickets de la mesa #{params[:table_id]}"
  %h2.ui.header.right.floated
    = link_to "Ver todos", tickets_path, class: "ui button blue"
- else
  %h2.ui.header.left.floated
    Todos los tickets
.clearfix
.ui.divider

- if @tickets.empty?
  .ui.message
    %i.icon.info
    No hay tickets todavia
- else
  %table.ui.table
    %thead
      %th Mesa
      %th Fecha
      %th Total
      %th Pago
      %th
    %tbody
      - @tickets.order("date").each do |ticket|
        %tr
          %td= "Mesa Nro. #{ticket.table.number}"
          %td= ticket.date.strftime("%d/%m/%Y %H:%M %p")
          %td= number_to_currency ticket.total
          %td= Ticket::PAYMENT_TYPE[ticket.payment-1][1] if ticket.payment
          %td= link_to 'Borrar', ticket, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "ui button tiny red"
