- if params[:table_id]
  %h2.ui.header.left.floated
    = "Tickets de la Mesa ##{@table.name}"
  %h2.ui.header.right.floated
    = link_to "Ver todos", tickets_path, class: "ui button teal"
- else
  %h2.ui.header.left.floated
    Todos los Tickets

.ui.divider.clearing

- if @tickets.empty?
  .ui.message
    %i.icon.info
    No hay tickets todavia
- else
  %table.ui.table
    %thead
      %th Mesa
      %th Fecha
      %th Total
      %th Estado
      %th

    %tbody
      - @tickets.order("date").each do |ticket|
        %tr
          %td= ticket.table.try(:name) || 'Mesa eliminada'
          %td= ticket.date.strftime("%d/%m/%Y")
          %td= number_to_currency ticket.total
          %td= ticket.status == 'closed' ? "Cerrado" : "Abierto"
          %td
            = link_to ticket, class: "ui button icon mini circular basic orange" do
              %i.icon.external.arrow.right

  = paginate @tickets
