%h2.ui.header.left.floated
  = "Ticket # #{@ticket.formatted_number}-#{@ticket.created_at.strftime('%y')}"
  .sub.header
    = @ticket.created_at.strftime('%d/%m/%Y - %H:%M %p')
.ui.header.right.floated
  .ui.button{class: "#{@ticket.status == 'open' ? 'orange' : 'green'}"}
    = @ticket.status == 'closed' ? 'Cerrado' : 'Abierto'
  .ui.button{onclick: "window.print();" }
    %i.icon.print
    Imprimir

.ui.divider.clearing

%table.ui.table
  %thead
    %th Categoria
    %th Item
    %th Cantidad
    %th.center.aligned SubTotal
  %tbody
    - if @ticket.items.empty?
      %tr
        %td{colspan: 4}
          .ui.message.error.center
            No hay items
    - else
      - @ticket.items.each do |item|
        - if item
          %tr
            %td= item.category.name
            %td= item.description
            %td= it.item_ticket.quantity
            %td.center.aligned= number_to_currency item.item_ticket.sub_total
    - if @ticket.promotions.empty?
      %tr
        %td{colspan: 4}
          .ui.message.error.center
            No hay promociones
    - else
      - @ticket.promotions.each do |promotion|
        %tr
          %td Promocion
          %td= promotion.description
          %td= promotion.promotion_ticket.quantity
          %td.center.aligned= number_to_currency promotion.promotion_ticket.subtotal
  %tfoot
    %tr
      %td{colspan:3}
      %td.center.aligned
        .ui.button.fluid.blue
          = number_to_currency @ticket.get_total


%h3.ui.header Adicionales
.ui.divider
.ui.grid
  .four.wide.column
    .ui.mini.statistic
      .value= number_to_currency @ticket.additionals.sum(:amount)
      .label Total
  .twelve.wide.column
    .ui.list.horizontal
      - @ticket.additionals.each do |entry|
        .item
          %i.icon.bookmark.orange.circular
          .content
            %h3.header= entry.description
            = number_to_currency entry.amount

.ui.divider
= link_to tickets_path, class: "ui button" do
  %i.icon.arrow.left
  Volver
