#ticket
  - if @ticket
    = render partial: "tickets/nav", locals: { ticket: @ticket }
    - if !@ticket.fully_delivered?
      .ui.message.warning
        No se puede cerrar la mesa, hay items no entregados.
    .ui.divider

    - if @ticket.open?
      .table-form
        .ui.secondary.menu.teal#ticket-entry
          = link_to "#", data: { tab: "items" }, class: "item active"  do
            %i.icon.plus
            Items
          = link_to "#", data: { tab: "promos" }, class: "item"  do
            %i.icon.plus
            Promos
          = link_to "#", data: { tab: "adicional" }, class: "item" do
            %i.icon.plus
            Adicionales

        .ui.segment.tab.active{ "data-tab" => 'items' }
          = render partial: 'item_tickets/form', locals: { ticket: @ticket }

        .ui.segment.tab{"data-tab" => 'promos'}
          = render partial: 'promotion_tickets/form', locals: { ticket: @ticket }

        .ui.segment.tab{"data-tab" => 'adicional'}
          = render partial: 'additionals/form', locals: { ticket: @ticket }

    %table.table.ui#tickets
      %thead
        %th.hiddable
        %th.hiddable Codigo
        %th Descripcion
        %th.hiddable Cantidad
        %th Precio
        %th.center.aligned Sub Total
        %th.hiddable

      %tbody
        - @ticket.grouped_item_tickets.each do |entry|
          - unless entry.new_record?
            %tr
              %td.hiddable.left.aligned{style: "vertical-align: top"}
                - if @ticket.open?
                  = link_to destroy_all_ticket_item_tickets_path(@ticket, item_id: entry.item_id), method: :delete do
                    %i.icon.remove.circle.outline.red
              %td.hiddable{style: "vertical-align: top"}= entry.item.code
              %td= entry.item.description
              %td.hiddable= entry.quantity
              %td= number_to_currency entry.item.price
              %td.center.aligned= number_to_currency entry.sub_total
              %td.hiddable.left.aligned{style: "vertical-align: top"}
                - if @ticket.open?
                  = link_to increase_ticket_item_ticket_path(@ticket, entry.item), method: :put do
                    %i.icon.circular.small.plus.green
                  = link_to "#", data: {ticket_id: @ticket.id, item_id: entry.item.id, type: 'item' }, class: "expand-item-row" do
                    %i.icon.circular.small.expand.red

        - @ticket.grouped_promotion_tickets.each do |entry|
          - unless entry.new_record?
            %tr
              %td.left.aligned{style: "vertical-align: top"}
                - if @ticket.open?
                  = link_to destroy_all_ticket_promotion_tickets_path(@ticket, promotion_id: entry.promotion_id), method: :delete do
                    %i.icon.remove.circle.outline.red
              %td{style: "vertical-align: top"}= entry.promotion.code
              %td{style: "vertical-align: top"}= "Promo #{entry.promotion.description}"
              %td{style: "vertical-align: top"}= entry.quantity
              %td{style: "vertical-align: top"}= number_to_currency entry.promotion.price
              %td.center.aligned{style: "vertical-align: top"}= number_to_currency entry.subtotal
              %td
                - if @ticket.open?
                  = link_to increase_ticket_promotion_ticket_path(@ticket, entry.promotion), method: :put do
                    %i.icon.circular.small.plus.green
                  = link_to "#", data: {ticket_id: @ticket.id, promo_id: entry.promotion.id, type: 'promotion' }, class: "expand-item-row" do
                    %i.icon.circular.small.expand.red

    .ui.divider
    #additionals
      %h4.ui.header
        Adicionales
      .ui.three.cards
        - @ticket.additionals.each do |entry|
          - unless entry.new_record?
            .card
              .content
                .header= entry.description
                = number_to_currency entry.amount
                - if @ticket.open?
                  = link_to ticket_additional_path(@ticket, entry), method: :delete, style: "float: right;margin:0" do
                    %i.icon.trash.red

    #ticket-total.ui.button
      Total
      = number_to_currency @ticket.get_total

    #ticket-date.ui.button{style: "float:right"}
      = @ticket.created_at.strftime('%d/%m/%Y - %H:%M %p')

  .ui.divider.clearing
  = link_to tickets_path, class: "ui button basic green" do
    %i.icon.arrow.left
    Volver
#modal-expand_item.ui.modal
#modal-ticket.ui.modal
#modal-table.ui.modal.small
#modal-kitchen.ui.modal
#modal-client.ui.modal.small
