%h2.ui.header
  = "Number #{@ticket.formatted_number}-#{@ticket.created_at.strftime('%y')}"
  .sub.header
    Fecha
    = @ticket.date.strftime('%d/%m/%Y')
.ui.divider

.ui.button.blue.fluid
  Total
  = number_to_currency @ticket.total

%table.ui.table
  %thead
    %th Item
    %th Cantidad
  %tbody
    - @ticket.item_tickets.each do |it|
      %tr
        %td= it.item.description
        %td= it.quantity

= link_to tickets_path, class: "ui button orange" do
  %i.icon.arrow.left
  Volver
