= form_for @table, html: { class: "ui form" } do |f|
  - if @table.errors.any?
    .ui.message.negative
      %ul.list
        - @table.errors.full_messages.each do |msg|
          %li= msg
    .ui.divider
  .ui.grid
    .ui.wide.column.eight.field
      = f.text_field :description, placeholder: "Agrega una descripcion"
    .ui.wide.column.two.field
      = f.number_field :number, placeholder: "Nro"
    .ui.wide.column.three.field
      %button.ui.button.green.fluid{type: "submit"}
        Crear
    .ui.wide.column.three.field
      = link_to "Cancelar", @table.new_record? ? tables_path : @table, class: "ui button fluid"
