= form_for @table, html: { class: "ui form" } do |f|
  .field
    = f.label "Numero"
    = f.number_field :number

  .actions
    = f.submit 'Crear', class: "ui button blue"
    = link_to "Cancelar", @table.new_record? ? tables_path : @table, class: "ui button"
