= form_for @table, html: { class: "ui form" } do |f|
  - if @table.errors.any?
    .ui.message.negative
      %ul.list
        - @table.errors.full_messages.each do |msg|
          %li= msg
    .ui.divider
  .three.fields
    .field
      = f.text_field :description, placeholder: "Agrega una descripcion"
    .field
      .ui.selection.dropdown.item
        = f.hidden_field :color
        .text Color
        .menu
          .item{ data: {value: "yellow"}}
            .ui.yellow.empty.circular.label
            Amarillo
          .item{ data: {value: "green"}}
            .ui.green.empty.circular.label
            Verde
          .item{ data: {value: "blue"}}
            .ui.blue.empty.circular.label
            Azul
          .item{ data: {value: "orange"}}
            .ui.orange.empty.circular.label
            Naranja
          .item{ data: {value: "red"}}
            .ui.red.empty.circular.label
            Rojo
          .item{ data: {value: "pink"}}
            .ui.pink.empty.circular.label
            Rosa
    .field
      %button.ui.button.green{type: "submit"}
        Guardar
      = link_to "Cancelar", :back, class: "ui button"
