.item.table{class: "#{(@ticket.try(:table).try(:id) || @table.try(:id)) == table.id ? 'open' : ''}"}
  .content
    = table.name
    .extra
      .ui.label.tiny.status
        %i.icon.alarm{class: table.color}
        = table.status == 'open' ? 'Abierta' : 'Cerrada'
      %small.actions
        = link_to table, method: :delete, data: {confirm: "Estas seguro?"}, class: "action" do
          %i.icon.trash.circular
        = link_to edit_table_path(table), class: "action" do
          %i.icon.pencil.circular
        - if @current_shift && !table.open?
          = link_to open_table_path(table), method: :put, class: "action" do
            %i.icon.unlock.circular.blue
