= link_to table, class: "item #{params[:id].to_i == table.id ? 'active' : ''}", style: "padding: 20px 10px" do
  = "Mesa Nro. #{table.number}"
  .ui.label{ class: table.status == "open" ? 'green' : 'red' }
    = table.status
