%h2.ui.header.left.floated
  Messas
.ui.header.right.floated
  = link_to new_table_path, class: "ui button teal" do
    %i.icon.plus
    Agregar Mesa

.ui.divider.clearing

%table.ui.table
  %thead
    %th description
    %th Color
    %th
  %tbody
    - @tables.each do |table|
      %tr
        %td= table.description.try(:titleize) || "Sin nombre"
        %td
          %i.icon.circle{class: "#{table.color}"}
        %td
          = link_to edit_table_path(table) do
            %i.icon.edit
          = link_to table_path(table), method: :delete do
            %i.icon.trash
