%i.close.icon
.header
  %h2.ui.header
    = "Ticket Numero ##{@ticket.try(:number)} - Cambiar Mesa"
.content
  - if @ticket.table
    = link_to unlink_table_ticket_path(@ticket), method: :patch, class: "ui button icon labeled red" do
      %i.icon.unlink
      Sacar de la mesa
    .ui.divider

  = form_for @ticket, url: change_ticket_path(@ticket), method: :patch, html: { class: "ui form"} do |f|

    .ui.grid
      .six.wide.column.field
        .ui.message.small
          = "Mover Mesa a la"
      .ten.wide.column.field
        .ui.search.selection.dropdown.large
          = f.hidden_field :table_id
          %i.dropdown.icon
          .default.text Seleccionar
          .menu
            - @tables.each do |table|
              .item{ data: {value: table.id}}
                = table.name
        .ui.divider
        .field
          = f.submit "Mover", class: "ui button blue"
          .ui.button.close Cancelar
  %script
    $('.dropdown').dropdown({transition: 'drop'});
