
- if @table.nil?
  .ui.message.icon.warning
    %i.icon.food
    .content
      .header
        Abra cualquier mesa del menu
      %p
        Con la mesa abierta, podras administrar el ticket hasta cerrar la venta.
- else
  %h2.center.ui.header
    = "Mesa #{@table.name}"
  .center
    -if @table.open? && @current_ticket
      - if !@current_ticket.has_items?
        = link_to ticket_path(@current_ticket, table_id: @table.id), method: :delete, data: { confirm: "Confirma borrar este ticket?" }, class: "ui button labeled icon small red" do
          %i.icon.trash
          Borrar Ticket
      - else
        = link_to "#", class: "close-table ui labeled icon button teal small", data: { id: @current_ticket.id } do
          %i.icon.lock
          Cerrar Mesa
      = link_to "#", class: "change-table ui labeled icon button small", data: { id: @current_ticket.id } do
        %i.icon.refresh
        Cambiar Mesa
      = link_to unlink_table_ticket_path(@current_ticket), method: :patch, class: "ui button small icon labeled blue" do
        %i.icon.remove
        Remover de la mesa
      = link_to "#", id: "show-kitchen", class: "ui button icon labeled small teal", data: { id: @current_ticket.id }  do
        %i.icon.print
        Imprimir pedido
    - else
      = link_to open_table_path(@table), method: :put,  class: "ui small labeled icon button orange" do
        %i.icon.unlock
        Abrir Mesa

  - if @current_ticket
    .ui.divider
    .ui.label.orange{style: "float:right"}
      %i.icon.tag
      = "Ticket nro. #{@current_ticket.formatted_number}-#{@current_ticket.created_at.strftime('%y')}"
    - if @current_ticket.open?

      .ui.secondary.menu.teal#ticket-entry
        = link_to "#", data: { tab: "items" }, class: "item active"  do
          %i.icon.plus
          Items
        = link_to "#", data: { tab: "promos" }, class: "item"  do
          %i.icon.plus
          Promos
        = link_to "#", data: { tab: "adicional" }, class: "item" do
          %i.icon.plus
          Adicionales

      .ui.segment.tab.active{ "data-tab" => 'items' }
        = render partial: 'item_tickets/form', locals: { ticket: @current_ticket }

      .ui.segment.tab{"data-tab" => 'promos'}
        = render partial: 'promotion_tickets/form', locals: { ticket: @current_ticket }

      .ui.segment.tab{"data-tab" => 'adicional'}
        = render partial: 'additionals/form', locals: { ticket: @current_ticket }

    %table.table.ui#tickets
      %thead
        %th
        %th Codigo
        %th Descripcion
        %th Cantidad
        %th Precio
        %th.center.aligned Sub Total
        %th

      %tbody
        - @current_ticket.grouped_item_tickets.each do |entry|
          - unless entry.new_record?
            %tr
              %td.left.aligned{style: "vertical-align: top"}
                - if @table.open?
                  = link_to destroy_all_ticket_item_tickets_path(@current_ticket, item_id: entry.item_id), method: :delete do
                    %i.icon.remove.circle.outline.red
              %td{style: "vertical-align: top"}= entry.item.code
              %td= entry.item.description
              %td= entry.quantity
              %td= number_to_currency entry.item.price
              %td.center.aligned= number_to_currency entry.sub_total
              %td.left.aligned{style: "vertical-align: top"}
                - if @table.open?
                  = link_to increase_ticket_item_ticket_path(@current_ticket, entry), method: :put, class: 'ui button mini circular basic icon green' do
                    %i.icon.plus.green
                  = link_to "#", data: {ticket_id: @current_ticket.id, item_id: entry.item.id, type: 'item' }, class: "expand-item-row ui button mini circular basic icon red" do
                    %i.icon.expand.red

        - @current_ticket.grouped_promotion_tickets.each do |entry|
          - unless entry.new_record?
            %tr
              %td.left.aligned{style: "vertical-align: top"}
                - if @table.open?
                  = link_to destroy_all_ticket_promotion_tickets_path(@current_ticket, promotion_id: entry.promotion_id), method: :delete do
                    %i.icon.remove.circle.outline.red
              %td{style: "vertical-align: top"}= entry.promotion.code
              %td{style: "vertical-align: top"}= "Promo #{entry.promotion.description}"
              %td{style: "vertical-align: top"}= entry.quantity
              %td{style: "vertical-align: top"}= number_to_currency entry.promotion.price
              %td.center.aligned{style: "vertical-align: top"}= number_to_currency entry.subtotal
              %td
                - if @table.open?
                  = link_to increase_ticket_promotion_ticket_path(@current_ticket, entry), method: :put, class: 'ui button mini circular basic icon green' do
                    %i.icon.plus.green
                  = link_to "#", data: {ticket_id: @current_ticket.id, promo_id: entry.promotion.id, type: 'promotion' }, class: "expand-item-row ui button mini circular basic icon red" do
                    %i.icon.expand.red

      %tfoot
        %tr
          %td{colspan: 5}
          %td.center.aligned
            .ui.label.blue.fluid{style: "font-size: 16px"}
              = number_to_currency @current_ticket.get_total

    %h3.ui.header
      Adicionales
    .ui.divider
    .ui.three.cards
      - @current_ticket.additionals.each do |entry|
        - unless entry.new_record?
          .card
            .content
              - if @table.open?
                = link_to ticket_additional_path(@current_ticket, entry), method: :delete, style: "float: right;margin:0" do
                  %i.icon.remove.circle.outline.red
              %h3.header= entry.description
              = number_to_currency entry.amount


      -unless @current_ticket.open?
        .left{style: "margin-top: 10px"}
          %i.icon.payment
          Pagamento:
          %b= Ticket::PAYMENT_TYPE[@current_ticket.payment-1][1]

  #modal-expand_item.ui.modal
  #modal-ticket.ui.modal
  #modal-table.ui.modal.small
  #modal-kitchen.ui.modal
