%h1.ui.header
  = "Mesa Nro. #{@table.number}"

-if @table.open? && @current_ticket
  = link_to "#", class: "close-table ui labeled icon button", data: { id: @current_ticket.id } do
    %i.icon.lock
    Cerrar mesa
- else
  = link_to open_table_path(@table), method: :put,  class: "ui labeled icon button" do
    %i.icon.unlock
    Abrir mesa

.ui.divider
- if @current_ticket
  - if @current_ticket.open?
    .ui.segment
      %h4
        %i.icon.plus
        Adicionar items
      = render partial: 'item_tickets/form', locals: { ticket: @current_ticket}


  .clearfix
    .left
      .ui.label
        %i.icon.tag
        = "Ticket nro. #{@current_ticket.formatted_number}-#{@current_ticket.created_at.strftime('%y')}"
    .right
      .ui.label
        %i.icon.calendar
        = l @current_ticket.date, format: :long

  %table.table.ui
    %thead
      %th
      %th Item
      %th Cantidad
      %th Precio
      %th Sub Total
    %tbody
      - @current_ticket.item_tickets.each do |entry|
        - unless entry.new_record?
          %tr
            %td
              - if @table.open?
                = link_to ticket_item_ticket_path(@current_ticket, entry), method: :delete do
                  %i.icon.remove.red
            %td= entry.item.description
            %td= entry.quantity
            %td= number_to_currency entry.item.price
            %td= number_to_currency entry.sub_total
    %tfooter
      %tr
        %td{colspan: 3}
        %td Total
        %td= number_to_currency @current_ticket.total

    -unless @current_ticket.open?
      .left{style: "margin-top: 10px"}
        %i.icon.payment
        Pagamento:
        %b= Ticket::PAYMENT_TYPE[@current_ticket.payment-1][1]


#modal-ticket.ui.modal
