- if @current_shift
  - if @table.nil?
    .ui.message.icon.warning
      %i.icon.food
      .content
        .header
          Abra cualquier mesa del menu
        %p
          Con la mesa abierta, podras administrar el ticket hasta cerrar la venta.
  - else
    %h1.ui.header.center
      = "Mesa Nro. #{@table.number}"
    .center
      -if @table.open? && @current_ticket
        - if @current_ticket.item_tickets.empty?
          = link_to ticket_path(@current_ticket, table_id: @table.id), method: :delete, data: { confirm: "Confirma borrar este ticket?" }, class: "ui button red" do
            %i.icon.trash
            Borrar Ticket
        - else
          = link_to "#", class: "close-table ui labeled icon button teal", data: { id: @current_ticket.id } do
            %i.icon.lock
            Cerrar Mesa
        = link_to "#", class: "change-table ui labeled icon button", data: { id: @current_ticket.id } do
          %i.icon.refresh
          Cambiar Mesa
      - else
        = link_to open_table_path(@table), method: :put,  class: "ui labeled icon button orange" do
          %i.icon.unlock
          Abrir Mesa
      = link_to tickets_path(table_id: @table.id), class: "ui button lebeled blue" do
        %i.icon.file
        Ver Tickets

    - if @current_ticket
      .ui.divider
      .ui.label.orange{style: "float:right"}
        %i.icon.tag
        = "Ticket nro. #{@current_ticket.formatted_number}-#{@current_ticket.created_at.strftime('%y')}"
      - if @current_ticket.open?

        .ui.secondary.menu.teal#ticket-entry
          = link_to "#", data: { tab: "items" }, class: "item active"  do
            %i.icon.plus
            Items
          = link_to "#", data: { tab: "promos" }, class: "item"  do
            %i.icon.plus
            Promos
          = link_to "#", data: { tab: "adicional" }, class: "item" do
            %i.icon.plus
            Adicionales

        .ui.segment.tab.active{ "data-tab" => 'items' }
          = render partial: 'item_tickets/form', locals: { ticket: @current_ticket }

        .ui.segment.tab{"data-tab" => 'promos'}
          = render partial: 'promotion_tickets/form', locals: { ticket: @current_ticket }

        .ui.segment.tab{"data-tab" => 'adicional'}
          = render partial: 'additionals/form', locals: { ticket: @current_ticket }

      %table.table.ui
        %thead
          %th
          %th Descripcion
          %th Cantidad
          %th Precio
          %th.center.aligned Sub Total

        %tbody
          - @current_ticket.item_tickets.each do |entry|
            - unless entry.new_record?
              %tr
                %td.left.aligned{style: "vertical-align: top"}
                  - if @table.open?
                    = link_to ticket_item_ticket_path(@current_ticket, entry), method: :delete do
                      %i.icon.remove.circle.outline.red

                %td= entry.item.description
                %td= entry.quantity
                %td= number_to_currency entry.item.price
                %td.center.aligned= number_to_currency entry.sub_total

          - @current_ticket.promotion_tickets.each do |entry|
            - unless entry.new_record?
              %tr
                %td.left.aligned{style: "vertical-align: top"}
                  - if @table.open?
                    = link_to ticket_promotion_ticket_path(@current_ticket, entry), method: :delete do
                      %i.icon.remove.circle.outline.red

                %td{style: "vertical-align: top"}
                  = "Promo #{entry.promotion.description}"
                  - unless entry.full_delivered?
                    .ui.list{style: "font-size: 12px; margin-top: 10px"}
                      - entry.promotion_ticket_items.each do |prod|
                        .item{style: "background: #f1f1f1; padding: 5px;border-bottom: solid 1px #ccc"}
                          .content
                            .header= prod.promotion_item.item.description
                            .meta
                              %span.price
                                = "Total #{(prod.promotion_item.quantity * entry.quantity)} - Entregado: #{prod.delivered}"
                                - unless prod.delivered?
                                  = link_to increase_ticket_promotion_ticket_path(@current_ticket, entry, prod_id: prod.id),
                                    method: :put, style: "float: right" do
                                    %i.icon.plus.circle
                %td{style: "vertical-align: top"}= entry.quantity
                %td{style: "vertical-align: top"}= number_to_currency entry.promotion.price
                %td.center.aligned{style: "vertical-align: top"}= number_to_currency entry.subtotal

        %tfoot
          %tr
            %td{colspan: 4}
            %td.center.aligned
              .ui.label.blue.fluid{style: "font-size: 16px"}
                = number_to_currency @current_ticket.total

      %h3.ui.header
        Adicionales
      .ui.divider
      .ui.list.horizontal
        - @current_ticket.additionals.each do |entry|
          - unless entry.new_record?
            .item
              %i.icon.chevron.right.blue
              .content
                %h3.header= entry.description
                = number_to_currency entry.amount
                - if @table.open?
                  = link_to ticket_additional_path(@current_ticket, entry), method: :delete, style: "float: right;margin:0" do
                    %i.icon.remove.circle.outline.red

        -unless @current_ticket.open?
          .left{style: "margin-top: 10px"}
            %i.icon.payment
            Pagamento:
            %b= Ticket::PAYMENT_TYPE[@current_ticket.payment-1][1]


    #modal-ticket.ui.modal
    #modal-table.ui.modal.small
- else
  .ui.message.icon.warning
    %i.icon.food
    .content
      .header
        Para comenzar debes abrir un turno
      %p
        Una vez que hayas abierto el turno podra comenzar a administrar las mesas.

        = link_to "Abrir turno", new_shift_path
