= form_for @item, html: { class: "ui form"} do |f|
  - if @item.errors.any?
    .ui.message.negative
      %ul.list
        - @item.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :description, "Descripcion"
    = f.text_field :description, placeholder: "Nombre o descripcion"
  .five.fields
    .field
      = f.label :price, "Precio (dia)"
      = f.text_field :day_price, placeholder: "Precio de dia"
    .field
      = f.label :night_price, "Precio (noche)"
      = f.text_field :night_price, placeholder: "Precio de noche"
    .field
      = f.label :code, "Codigo"
      = f.number_field :code, placeholder: "Codigo sugerido #{@item.id.nil? ? Item.last.try(:id).to_i + 1 : @item.code}"
    .field
      = f.label :favourite, "Favorito"
      .ui.toggle.checkbox
        = f.check_box :favourite
  .field
    = f.label :category_id, "Categoria"
    .ui.fluid.search.selection.dropdown.combo
      = f.hidden_field :category_id
      %i.dropdown.icon
      .default.text Seleccione Item
      .menu
        - Category.all.each do |category|
          .item{ data: { value: category.id } }
            = category.name
  .ui.divider
  .field
    %button.ui.button.green{type: "submit"}
      Guardar
    = link_to 'Cancelar', items_path, class: "ui button"

:javascript
  $(document).ready(function(){
    $('.dropdown').dropdown();
    $('.ui.form').form({
      description: {
        identifier: 'item_description',
        rules: [{
          type   : 'empty'
        }]
      },
      price: {
        identifier: 'item_price',
        rules: [
          {
            type   : 'empty'
          },
          {
            type: 'not[0]'
          }
        ]
      },
      night_price: {
        identifier: 'item_night_price',
        rules: [
          {
            type   : 'empty'
          },
          {
            type: 'not[0]'
          }
        ]
      },
      code: {
        identifier: 'item_code',
        rules: [
          {
            type   : 'empty'
          },
          {
            type: 'not[0]'
          }
        ]
      },
      cateogry: {
        identifier: 'item_category_id',
        rules: [
          {
            type   : 'empty'
          }
        ]
      },

    })
  })
