= form_for [@category,@item], html: { class: "ui form"} do |f|
  .field
    = f.label :description, "Descripcion"
    = f.text_field :description
  .two.fields
    .field
      = f.label :price, "Precio"
      = f.text_field :price
    .field
      = f.label :stock
      = f.number_field :stock
  .field
    = f.label :category_id, "Categoria"
    .ui.fluid.search.selection.dropdown.combo
      = f.hidden_field :category_id
      %i.dropdown.icon
      .default.text Seleccione Item
      .menu
        - Category.all.each do |category|
          .item{ data: { value: category.id } }
            = category.name
  .ui.divider
  .field
    %button.ui.button.small.green{type: "submit"}
      Salvar
    = link_to 'Voltar para Categoria', category_path(@item.category), class: "ui button small blue"
    = link_to 'Voltar', items_path, class: "ui button small"

:javascript
  $(document).ready(function(){
    $('.ui.form').form({
      description: {
        identifier: 'item_description',
        rules: [{
          type   : 'empty'
        }]
      },
      price: {
        identifier: 'item_price',
        rules: [
          {
            type   : 'empty'
          },
          {
            type: 'not[0]'
          }
        ]
      },
      stock: {
        identifier: 'item_stock',
        rules: [
          {
            type   : 'empty'
          },
          {
            type   : 'not[0]'
          }
        ]
      },

    })
  })
