%h2.ui.header.left.floated
  Items
.ui.header.right.floated
  = link_to new_item_path, class: "ui button teal" do
    %i.icon.plus
    Agregar Item
  = paginate @items

.ui.divider.clearing


%table.ui.table
  %thead
    %th Code
    %th Descripcion
    %th Precios
    %th Categoria
    %th Favorito
    %th
  %tbody
    - @items.each do |item|
      %tr
        %td= item.code
        %td= item.description.titleize
        %td
          = number_to_currency item.day_price
          \/
          = number_to_currency item.night_price
        %td
          - if item.category
            = link_to item.category.name, item.category
        %td
          - if item.favourite
            %i.icon.star.yellow
        %td
          = link_to edit_item_path(item) do
            %i.icon.edit
          = link_to item_path(item), method: :delete do
            %i.icon.trash
