%p#notice= notice

%p
  %b Description:
  = @item.description
%p
  %b Price:
  = @item.price
%p
  %b Stock:
  = @item.stock
%p
  %b Category:
  = @item.category_id

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
