
%table.ui.celled.structured.table
  %thead
    %tr
      %th.center.aligned Ticket
      %th.center.aligned Mesa
      %th.center.aligned Hora
      %th Pedido
  %tbody
    - @kitchen_items.each do |ki|
      - unless ki.full_delivered?
        %tr
          %td.center.aligned= ki.ticket.formatted_number
          %td.center.aligned= ki.ticket.table.name
          %td.center.aligned= ki.created_at.strftime('%H:%M %p')
          %td
            .ui.divided.selection.list
              - if ki.class.name == "ItemTicket"
                %p
                  .ui.horizontal.label
                    = ki.quantity
                  = ki.item.description
                  = link_to deliver_ticket_item_ticket_path(ki.ticket, ki), method: :put, style: "float: right", class: "ui button green icon mini" do
                    %i.sign.out.icon
              - else
                - ki.promotion_ticket_items.each do |promo_ticket_item|
                  - if promo_ticket_item.promotion_item.item.category.kitchen?
                    %p
                      .ui.horizontal.label
                        = promo_ticket_item.promotion_item.quantity * ki.quantity
                        \/
                        = promo_ticket_item.delivered
                      = promo_ticket_item.promotion_item.item.description
                      - if (promo_ticket_item.promotion_item.quantity * ki.quantity) > promo_ticket_item.delivered
                        = link_to increase_delivered_ticket_promotion_ticket_path(ki.ticket, ki, prod_id: promo_ticket_item.id), method: :put, style: "float: right", class: "ui button green icon mini" do
                          %i.sign.out.icon



