- if @current_ticket
  .ui.header.right.floated
    .ui.label.orange{style: "float:right"}
      %i.icon.tag
      = "Ticket nro. #{@current_ticket.formatted_number}-#{@current_ticket.created_at.strftime('%y')}"
.clearfix
.content
  %input{ type: 'hidden', id: 'last_render', value: DateTime.now }
  - if @tickets.size == 0
    .ui.green.header
      = "No hay pedidos de cocina pendientes."
  .ui.grid
    - @tickets.each do |ti|
      .six.wide.column.field
        .ui.segment
          %b
            - if ti.table.nil?
              = "Para llevar - Ticket: #{ti.id}"
            - else
              = "MESA: #{ti.table.try(:name)}"
          %table.ui.celled.structured.table.kitchentable
            %tbody
              - @kitchen_items[ti.id].try(:each) do |ki|
                - unless ki.nil? || ki.full_delivered?
                  %tr{ style: ki.deleted_at.nil? ? "" : "background-color: red; color: white"}
                    %td.center.aligned
                      %span{ class: (Time.at((Time.now - ki.created_at).to_i.abs).utc.strftime "%M").to_i > 10 ? "ui button red small" : "ui button green small"}= Time.at((Time.now - ki.created_at).to_i.abs).utc.strftime "%H:%M:%S"
                    %td
                      .ui.divided.selection.list
                        - if ki.class.name == "ItemTicket"
                          %p
                            .ui.horizontal.label.blue
                              = ki.quantity
                            = ki.item.description
                        - else
                          - ki.promotion_ticket_items.each do |promo_ticket_item|
                            - if promo_ticket_item.promotion_item.item.category.kitchen?
                              %p
                                .ui.horizontal.label.blue
                                  = promo_ticket_item.promotion_item.quantity * ki.quantity
                                = promo_ticket_item.promotion_item.item.description
                    %td
                      - if ki.class.name == "ItemTicket"
                        = link_to deliver_ticket_item_ticket_path(ki.ticket, ki), method: :put, class: "ui button icon tooltip", data: { content: "Retirar pedido" } do
                          %i.icon.food
                      - else
                        = link_to deliver_ticket_promotion_ticket_path(ki.ticket, ki), method: :put, class: "ui button icon tooltip", data: { content: "Retirar pedido" }  do
                          %i.icon.green.food
              - @additionals[ti.id].try(:each) do |ad|
                %tr{ style: ad.deleted_at.nil? ? "" : "background-color: red; color: white"}
                  %td.center.aligned
                    %span{ class: (Time.at((Time.now - ad.created_at).to_i.abs).utc.strftime "%M").to_i > 10 ? "ui button red small" : "ui button green small"}= Time.at((Time.now - ad.created_at).to_i.abs).utc.strftime "%H:%M:%S"
                  %td
                    %p
                      .ui.horizontal.label.blue
                        = ad.amount
                      = ad.description
                  %td
                    = link_to deliver_ticket_additional_path(ad.ticket, ad), method: :put, class: "ui button icon tooltip", data: { content: "Retirar pedido" } do
                      %i.icon.food

:javascript
  $(document).ready(function(){
    setInterval(function(){
      var lastRender = $("#last_render").val();
      $.ajax({
        url: "/kitchen/check_update?last_render=" + lastRender,
        type: "GET",
        dataType: "html",
        success: function(data){
          console.log("SHOULD RENDER --> " + JSON.parse(data).should_render);
          if (JSON.parse(data).should_render)
            location.reload();
        }
      });
    }, 10000);
  });
