- if @current_ticket
  .ui.header.right.floated
    .ui.label.orange{style: "float:right"}
      %i.icon.tag
      = "Ticket nro. #{@current_ticket.formatted_number}-#{@current_ticket.created_at.strftime('%y')}"
.clearfix
.content
  %input{ type: 'hidden', id: 'last_render', value: DateTime.now }
  - if @kitchen_items.size == 0
    .ui.green.header
      = "No hay pedidos de cocina pendientes."
  .ui.grid.kitchentable
    - @kitchen_items.each do |ti, val|
      .five.wide.column.field.table
        .ui.segment.center.aligned
          %b
            - if ti.table.nil?
              = "Para llevar - Ticket: #{ti.id}"
            - else
              = "MESA: #{ti.table.try(:name)}"
          %table.ui.table.kitchentable{class: ti.table.try(:color)}
            %tbody
              - val.try(:each) do |ki|
                %tr{ style: ki.deleted_at.nil? ? "" : "background-color: red; color: white"}
                  %td.collapsing
                    %input{type: "hidden", value: ki.created_at, class: 'timer'}
                    %span{ class: ((Time.now - ki.created_at.to_time) / 60).to_i > 10 ? "ui horizontal label red" : "ui horizontal label green"}= Time.at((Time.now - ki.created_at).to_i.abs).utc.strftime "%H:%M:%S"
                  %td
                    - if ki.class.name == "ItemTicket"
                      .ui.horizontal.label.blue
                        = ki.quantity
                      = ki.item.description
                      - unless ki.comments.first.try(:comment).nil?
                        .clearfix
                        .ui.mini.label
                          = ki.comments.first.try(:comment)
                    - elsif ki.class.name == "Additional"
                      .ui.horizontal.label.blue
                        = ki.amount
                      = ki.description
                    - else
                      .ui.horizontal.label.blue
                        = ki.quantity
                      = ki.promotion_item.item.description
                      - unless ki.promotion_ticket.comments.first.try(:comment).nil?
                        .clearfix
                        .ui.mini.label
                          = ki.promotion_ticket.comments.first.try(:comment)
                  %td.collapsing
                    - if ki.class.name == "ItemTicket"
                      = link_to deliver_ticket_item_ticket_path(ki.ticket, ki), method: :put, class: "ui button icon tooltip", data: { content: "Retirar pedido" } do
                        %i.icon.food
                    - elsif ki.class.name == "Additional"
                      = link_to deliver_ticket_additional_path(ki.ticket, ki), method: :put, class: "ui button icon tooltip", data: { content: "Retirar pedido" } do
                        %i.icon.food
                    - else
                      = link_to deliver_ticket_promotion_ticket_path(ki.ticket, ki.promotion_ticket, promotion_ticket_item: ki.id), method: :put, class: "ui button icon tooltip", data: { content: "Retirar pedido" }  do
                        %i.icon.green.food

:javascript
  $(document).ready(function(){
    var interval = setInterval(function(){
      var lastRender = $("#last_render").val();
      $.ajax({
        url: "/kitchen/check_update?last_render=" + lastRender,
        type: "GET",
        dataType: "html",
        success: function(data){
          if (JSON.parse(data).should_render) {
            clearInterval(interval);
            var sound = new Audio("http://localhost:3000/bell.wav");
            sound.onended = function() {
              location.reload();
            };
            sound.play();
          }
          else
            updateTimers();
        }
      });
    }, 20000);

    function updateTimers(){
      $(".timer").each(function(index, item){
        total_sec = Math.round((Date.now() / 1000) - (Date.parse(item.value) / 1000));

        var date = new Date(null);
        date.setSeconds(total_sec);
        var result = date.toISOString().substr(11, 8);

        $(item).next().html(result);
      })
    };
  });
