%i.close.icon
.header
  %h2.ui.left.floated.header
    = @table.nil? ? "Para llevar" : "Mesa #{@table.name}"
  %h2.ui.right.floated.header
    Ticket Nro
    = @current_ticket.formatted_number
  .clearfix

.content
  %table.ui.celled.structured.table
    %thead
      %tr
        %th.center.aligned Hora
        %th.center.aligned pedido
        %th.center.aligned Cantidad
        %th.center.aligned estado
        %th.center.aligned
    %tbody
      - @items_tickets.each do |it|
        %tr
          %td.center.aligned= it.created_at.strftime('%H:%M %p')
          %td.center.aligned= it.item.description
          %td.center.aligned= it.quantity
          %td.center.aligned
            - if it.delivered
              %i.icon.checkmark.box.big-icon
            - else
              %i.icon.wait.orange.big-icon
          %td.center.aligned
            -unless it.delivered || @current_ticket.get_printed_at > it.updated_at
              = link_to "#", data: {ticket_id: @current_ticket.id, item_ticket_id: it.id, type: 'item_tickets'}, class: "ui button red icon delete-item" do
                %i.trash.icon

:javascript
  $(document).ready(function(){
    $(".delete-item").on("click", function(e){
      e.preventDefault();
      var ticket_id = $(this).data("ticket-id");
      var type = $(this).data("type");
      var item_id = type === "promotion" ? $(this).data("promo-id") : $(this).data("item-ticket-id");

      $.ajax({
        url: "/tickets/"+ticket_id+"/"+type+"/" + item_id + "/delete",
        type: "GET",
        dataType: "html",
        success: function(data){
          $("#modal-delete-item").html(data).modal('setting', {
            onApprove: function() {
              location.reload();
              return true;
            }
          }).modal('show');
        }
      });
    });
  });
