= form_for @category, html: { class: "ui form"} do |f|
  - if @category.errors.any?
    .ui.message.negative
      %ul.list
        - @category.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name, "Nombre"
    = f.text_field :name, placeholder: "Agregar nombre", autocomplete: "off"

  .ui.divider
  .field
    %button.ui.button.green{type: "submit"}
      Guardar
    = link_to 'Cancelar', @category.new_record? ? categories_path : @category, class: "ui button"

:javascript
  $(document).ready(function(){
    $('.ui.form').form({
      name: {
        identifier: 'category_name',
        rules: [{
          type   : 'empty',
          prompt : 'Tenes que agregar un nombre',
        }
      ]}
    },{
      inline : true,
      on     : 'blur'
    })
  })
