%h2.ui.header.left.floated
  Categorias
.ui.header.right.floated
  = link_to new_category_path, class: "ui button teal" do
    %i.icon.plus
    Agregar Categoria

.ui.divider.clearing

.ui.three.column.grid
  - @categories.each do |category|
    .column
      .ui.card.fluid
        .ui.content
          = link_to category, class: "header" do
            %i.icon.angle.right
            = category.try(:name)
        .extra.content
          .ui.label
            %i.icon.cube
            = category.items.count
            Items
          .right.floated{style: "margin-top: 5px"}
            = link_to category, method: :delete do
              %i.icon.trash
            = link_to edit_category_path(category) do
              %i.icon.edit
