.ui.header
  Categoria
  = @category.name
  .right
    = link_to "Adicionar item", new_category_item_path(@category), class: "ui button small red"

%table.ui.table
  %thead
    %th Descricaon
    %th Preco
    %th Stock
    %th
  %tbody
    - @items.each do |item|
      %tr
        %td= item.description
        %td= item.price
        %td= item.stock
        %td= link_to "Editar", edit_category_item_path(@category, item)

