%h2.ui.header.left.floated
  = @category.name
%h2.ui.header.right.floated{style: "margin-right:0"}
  = link_to "Editar", edit_category_path(@category), class: "ui button small"
  = link_to "Agregar Item", new_item_path(category_id: @category), class: "ui button red small"
.ui.divider.clearing

- if @category.items.empty?
  .ui.message
    No hay items
- else
  %table.ui.table
    %thead
      %th Cod
      %th Descripcion
      %th Precio (dia)
      %th Precio (noche)
      %th
    %tbody
      - @items.each do |item|
        %tr
          %td= item.code
          %td= item.description
          %td= number_to_currency item.day_price
          %td= number_to_currency item.night_price
          %td
            = link_to edit_item_path(item) do
              %i.icon.edit
