%h2.ui.header.left.floated
  = @category.name
%h2.ui.header.right.floated{style: "margin-right:0"}
  = link_to "Editar", edit_category_path(@category), class: "ui button small"
  = link_to "Agregar Item", new_item_path(category_id: @category), class: "ui button red small"
.ui.divider.clearing

%table.ui.table
  %thead
    %th Descripcion
    %th Precio
    %th Stock
    %th Editar
  %tbody
    - @items.each do |item|
      %tr
        %td= item.description
        %td= number_to_currency item.price
        %td= item.stock
        %td
          = link_to edit_item_path(item) do
            %i.icon.pencil
