= form_for shift_or_user.expenses.new, html: { class: "ui form"} do |f|
  .ui.grid
    = f.hidden_field :shift_or_user_id
    = f.hidden_field :shift_or_user_type
    .ten.wide.column.field
      = f.text_field :description, placeholder: "Agregar un gasto"
    .three.wide.column.field
      = f.number_field :amount, placeholder: "Costo $"
    .two.wide.column.field
      = f.submit "Agregar", class: "ui button blue"
