%h2.ui.header.left.floated
  Promociones
.ui.header.right.floated
  = link_to new_promotion_path, class: "ui button teal" do
    %i.icon.plus
    Agregar Promo
  = paginate @promotions

.ui.divider.clearing

%table.ui.table
  %thead
    %th Descripcion
    %th Codigo
    %th Precio (dia)
    %th Precio (noche)
    %th
  %tbody
    - @promotions.each do |promo|
      %tr
        %td= link_to promo.description.titleize, promotion_path(promo)
        %td= promo.code
        %td= number_to_currency promo.day_price
        %td= number_to_currency promo.night_price
        %td
          = link_to edit_promotion_path(promo) do
            %i.icon.edit
            Editar
