%h2.ui.header
  = link_to @promotion, :method => :delete, :data => { :confirm => 'Seguro desea eliminar?' }, class: "ui button red right floated" do
    %i.icon.remove
    Borrar

  Promocion
  = @promotion.description

  .ui.sub.header
    Agregar items

.ui.divider

= form_for [@promotion, @promotion.promotion_items.new], html: { class: "form ui"}  do |f|
  .ui.grid
    .eight.wide.column.field
      = f.hidden_field :prmotion_id, value: @promotion.id
      .ui.fluid.search.selection.dropdown.combo
        = f.hidden_field :item_id
        %i.dropdown.icon
        .default.text Seleccione Item
        .menu
          - Item.all.each do |item|
            .item{ data: { value: item.id, code: item.code} }
              = item.description
    .four.wide.column.field
      = f.text_field :quantity, placeholder: "Cantidad"
    .four.wide.column.field
      %button.ui.button.green{type: "submit", style: "width: 100%"}
        Agregar item

%table.ui.table
  %thead
    %th item
    %th Cantidad
  %tbody
    - @promotion.promotion_items.each do |pri|
      - unless pri.new_record?
        %tr
          %td= pri.item.try(:description)
          %td= pri.quantity

= link_to promotions_path, class: "ui button" do
  %i.icon.arrow.left
  Volver
