%h2.ui.header.left.floated
  Proveedores
.ui.header.right.floated
  = link_to new_supplier_path, class: "ui button teal" do
    %i.icon.plus
    Agregar Proveedor

.ui.divider.clearing

%table.ui.table
  %thead
    %th Nombre
    %th Direccion
    %th Telefono
    %th
  %tbody
    - @suppliers.each do |supplier|
      %tr
        %td= link_to supplier.name, supplier
        %td= supplier.address
        %td= supplier.phone
        %td
          = link_to edit_supplier_path(supplier) do
            %i.icon.edit
          = link_to supplier_path(supplier), method: :delete, :data => { :confirm => 'Seguro desea eliminar?' } do
            %i.icon.trash
