.ui.menu.inverted.fixed
  .container
    = link_to "Bar Manager", home_index_path, class: "item"
    - if current_user
      .ui.dropdown.item.config
        Configuracion
        %i.dropdown.icon
        .menu
          = link_to items_path, class: "item" do
            Items
          = link_to promotions_path, class: "item" do
            Promociones
          = link_to tables_path, class: "item" do
            Mesas
          = link_to categories_path, class: "item" do
            Categorias
          - if current_user.is_admin?
            = link_to users_path, class: "item" do
              Usuarios
          = link_to suppliers_path, class: "item" do
            Proveedores
          - if current_user.is_admin?
            = link_to cancel_reasons_path, class: "item" do
              Razones para cancelar
          - if current_user.is_admin?
            = link_to statistics_path, class: "item" do
              Estadisticas
      = link_to clients_path, class: "item" do
        %i.icon.users
        Clientes
      = link_to tickets_path, class: "item" do
        %i.icon.file
        Tickets
      = link_to kitchen_path, class: "item" do
        %i.icon.food
        Cocina
      = link_to shifts_path, class: "item" do
        %i.icon.time
        Turnos
      - if current_user.is_admin?
        = link_to daily_cashes_path, class: "item" do
          %i.icon.lock
          Cierres Diario
      = link_to "#", class: "launch item" do
        %i.icon.star
        Favoritos
      - if current_user
        .menu.right
          .ui.dropdown.item.config
            = current_user.login
            %i.dropdown.icon
            .menu
              = link_to close_day_path, class: "item" do
                Cerrar dia
              - if current_user.is_admin?
                = link_to close_month_monthly_cashes_path, class: "item" do
                  Cerrar mes
              = link_to destroy_user_session_path, method: :delete, class: "item" do
                Salir
