<!DOCTYPE html>
<html>
<head>
  <title>BarManager</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="pusher">
    <div class="ui menu inverted fixed">
      <div class="container">
        <%= link_to "Bar Manager", root_path, class: "item" %>
        <% if current_user %>
          <% if current_user.admin? %>
            <div class="ui dropdown item config">
              <i class="dropdown icon"></i>
              Configuracion
              <div class="menu">
                <%= link_to items_path, class: "item" do %>
                  Items
                <% end %>
                <%= link_to promotions_path, class: "item" do %>
                  Promociones
                <% end %>
                <%= link_to categories_path, class: "item" do %>
                  Categorias
                <% end %>
                <%= link_to new_table_path, class: "item" do %>
                  Agregar Mesa
                <% end %>
                <%= link_to users_path, class: "item" do %>
                  Usuarios
                <% end %>
                <%= link_to statistics_path, class: "item" do %>
                  Estadisticas
                <% end %>
              </div>
            </div>
          <% end %>
          <%= link_to tickets_path, class: "item" do %>
            <i class="icon file"></i>
            Tickets
          <% end %>
          <%= link_to shifts_path, class: "item" do %>
            <i class="icon time"></i>
            Turnos
          <% end %>
          <% if current_user.admin? %>
            <%= link_to daily_cashes_path, class: "item" do %>
              <i class="icon food"></i>
              Cierres Diarios
            <% end %>
          <% end %>
          <%= link_to "#", class: "launch item" do %>
            <i class="icon star"></i> Favoritos
          <% end %>
          <% if current_user %>
            <div class="menu right">
              <div class="item"><%= current_user.login %></div>
              <% if current_user.admin? %>
                <div class="item icon">
                  <%= link_to close_day_path, class: "ui button blue" do %>
                    Cerra Dia
                  <% end %>
                </div>
              <% end %>
              <div class="item icon">
                <%= link_to destroy_user_session_path, method: :delete, class: "ui button red" do %>
                  Salir
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="main container">
      <div class="segment ui">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
