!!!
%html
  %head
    %title BarManager
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %link{:href => "https://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
  %body
    #toc.ui.vertical.sidebar.menu.right
      .item
        %a{:href => "/"}
          %b Productos
      .item
        - @categories.each do |cat|
          - Item.by_category(cat.id).favourites.each_with_index do |item, index|
            - if index == 0
              .ui.small.header= cat.name
            .menu
              .item
                = item.description
                .ui.label
                  = item.code
      .item
        %a{:href => "/"}
          %b Promos
      .item
        .menu
          - Promotion.favourites.each do |prom|
            .item
              .ui.label.left.teal
                = prom.code
              = prom.description
    .pusher
      = render partial: '/layouts/nav'
      .main.container
        - if alert
          .ui.message.error{:style => "margin: 10px;"}
            = alert
        - if current_user
          #open-tables
            .side
              %h4.ui.header Turno actual
              - if @current_shift
                .two.ui.buttons
                  = link_to @current_shift, class: "ui button blue" do
                    %i.icon.idea
                    Ver
                  = link_to close_shift_path(@current_shift), method: :put, class: "ui button" do
                    %i.icon.lock
                    Cerrar
              - else
                = link_to new_shift_path, class: "ui button blue fluid" do
                  %i.icon.unlock
                  Abrir turno
            .panel
              %h4.ui.header Mesas abiertas
              = link_to new_ticket_path, class: "ui basic active button teal", style: "float: right" do
                %i.icon.send
                Para llevar
              - @open_tables.each do |table|
                = link_to table, class: "ui #{'basic active' unless @table.try(:id) == table.id} button #{table.color}" do
                  %i.icon.food
                  = table.name
              - @open_tickets.each do |ticket|
                = link_to ticket, class: "ui #{'basic active' unless @ticket.try(:id) == ticket.id} button" do
                  %i.icon.file.outline
                  = "Para llevar ##{ticket.number}"

          .side
            .ui.items
              .ui.fluid.search.selection.dropdown.combo.tables
                %input#table_id{:name => "table[table_id]", :type => "hidden"}/
                %i.dropdown.icon{:tabindex => "-1"}
                %input.search.table-search{:tabindex => "0"}/
                .default.text Seleccione Mesa
                .menu{:tabindex => "-1"}
                  - @closed_tables.each do |table|
                    .item.table-option{"data-code" => table.id, "data-value" => table.id}
                      = table.name
              - if @table && !@table.new_record?
                = render @table
              - @closed_tables.each do |table|
                = render table unless @table.try(:id) == table.id
        .panel{:class => "#{current_user.nil? ? 'signin' : nil}"}
          .segment.ui
            - unless @current_shift
              .ui.message.error
                No hay un turno abierto, para cerrar tickets, debes tener uno.
            = yield
