<!DOCTYPE html>
<html>
<head>
  <title>BarManager</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui menu inverted fixed">
    <div class="container">
      <%= link_to "Bar Manager", root_path, class: "item" %>
      <div class="ui pointing dropdown item">
        <i class="dropdown icon"></i>
        Items
        <div class="menu">
          <%= link_to "Nuevo Item", new_item_path, class: "item" %>
          <%= link_to "Items", items_path, class: "item" %>
        </div>
      </div>
      <div class="ui pointing dropdown item">
        <i class="dropdown icon"></i>
        Categorias
        <div class="menu">
          <%= link_to "Nueva Categoria", new_category_path, class: "item"%>
          <%= link_to "Ver todas", categories_path, class: "item"%>
        </div>
      </div>
      <%= link_to tickets_path, class: "item" do %>
        <i class="icon file"></i>
        Tickets
      <% end %>
      <%= link_to new_table_path, class: "item" do %>
        <i class="icon feed"></i>
        Agregar Mesa
      <% end %>
      <%= link_to shifts_path, class: "item" do %>
        <i class="icon feed"></i>
        Turnos
      <% end %>
      <%= link_to statistics_path, class: "item" do %>
        <i class="icon feed"></i>
        Estadisticas
      <% end %>
    </div>
  </div>
  <div class="main container">
    <div id="side">
      <div class="ui vertical menu">
        <% @tables.each do |table| %>
          <%= render table %>
        <% end %>
      </div>
    </div>
    <div id="panel">
      <div class="segment ui">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
