<!DOCTYPE html>
<html>
<head>
  <title>BarManager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui menu inverted fixed">
    <div class="container">
      <%= link_to "Bar Manager", root_path, class: "item" %>
      <%= link_to items_path, class: "item" do %>
        <i class="icon cubes"></i>
        Items
      <% end %>
      <%= link_to tickets_path, class: "item" do %>
        <i class="icon file"></i>
        Tickets
      <% end %>
      <%= link_to statistics_path, class: "item" do %>
        <i class="icon feed"></i>
        Estadisticas
      <% end %>
    </div>
  </div>
  <div class="main container">
    <div id="side">
      <div class="ui vertical menu">
        <% @tables.each do |table| %>
          <%= render table %>
        <% end %>
      </div>
    </div>
    <div id="panel">
      <div class="segment ui">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
