<!DOCTYPE html>
<html>
<head>
  <title>BarManager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui menu inverted fixed">
    <div class="container">
      <%= link_to "Bar Manager", root_path, class: "item" %>
      <%= link_to items_path, class: "item" do %>
        <i class="icon reorder"></i>
        Items
      <% end %>
      <%= link_to tickets_path, class: "item" do %>
        <i class="icon tags"></i>
        Tickets
      <% end %>
    </div>
  </div>
  <div class="main container">
    <div id="side">
      <ul class="tables segment ui">
        <% @tables.each do |table| %>
          <li class="<%= table.id == params[:id].to_i && controller_name == 'tables' ? 'active' : nil %>">
            <%= render table %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="panel">
      <div class="segment ui">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
