<!DOCTYPE html>
<html>
<head>
  <title>BarManager</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui vertical sidebar menu right" id="toc">
    <div class="item">
      <a href="/"><b>Productos</b></a>
    </div>
    <div class="item">
      <% @categories.each do |cat| %>
        <% Item.by_category(cat.id).favourites.each_with_index do |item, index| %>
          <% if index == 0 %>
            <div class="ui small header"><%= cat.name %></div>
          <% end %>
          <div class="menu">
            <div class="item">
              <%= item.description %>
              <div class="ui label">
                <%= item.code %>
              </div>
            </div>
          </div>
        <%end%>
      <% end %>
    </div>
    <div class="item">
      <a href="/"><b>Promos</b></a>
    </div>
    <div class="item">
      <div class="menu">
        <% Promotion.favourites.each do |prom| %>
          <div class="item">
            <div class="ui label left teal">
              <%= prom.code %>
            </div>
            <%= prom.description %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="pusher">
    <div class="ui menu inverted fixed">
      <div class="container">
        <%= link_to "Bar Manager", root_path, class: "item" %>
        <% if current_user %>
          <div class="ui dropdown item">
            <i class="dropdown icon"></i>
            Configuracion
            <div class="menu">
              <div class="ui dropdown item">
                <i class="dropdown icon"></i>
                Items
                <div class="menu">
                  <%= link_to "Nuevo Item", new_item_path, class: "item" %>
                  <%= link_to "Items", items_path, class: "item" %>
                </div>
              </div>
              <div class="ui dropdown item">
                <i class="dropdown icon"></i>
                Promos
                <div class="menu">
                  <%= link_to "Nueva Promo", new_promotion_path, class: "item" %>
                  <%= link_to "Promociones", promotions_path, class: "item" %>
                </div>
              </div>
              <div class="ui dropdown item">
                <i class="dropdown icon"></i>
                Categorias
                <div class="menu">
                  <%= link_to "Nueva Categoria", new_category_path, class: "item"%>
                  <%= link_to "Ver todas", categories_path, class: "item"%>
                </div>
              </div>
              <%= link_to users_path, class: "item" do %>
                Usuarios
                <i class="dropdown icon"></i>
              <% end %>
            </div>
          </div>
          <%= link_to tickets_path, class: "item" do %>
            <i class="icon file"></i>
            Tickets
          <% end %>
          <%= link_to new_table_path, class: "item" do %>
            <i class="icon plus"></i>
            Mesas
          <% end %>
          <%= link_to shifts_path, class: "item" do %>
            <i class="icon time"></i>
            Turnos
          <% end %>
          <%= link_to "#", class: "launch item" do %>
            <i class="icon star"></i> Favoritos
          <% end %>
          <% if current_user %>
            <div class="menu right">
              <div class="item"><%= current_user.login %></div>
              <div class="item icon">
                <%= link_to destroy_user_session_path, method: :delete, class: "ui button red" do %>
                  Salir
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="main container">
      <% if current_user %>
        <div id="open-tables">
          <div class="side">
            <% if @current_shift %>
              <h4 class="ui header"> Turno actual</h4>
              <%= link_to @current_shift, class: "ui button orange fluid" do %>
                <i class="icon idea"></i> Turno Actual
              <% end %>
            <% end %>
          </div>
          <div class="panel">
            <h4 class="ui header"> Mesas abiertas</h4>
            <% @open_tables.each do |table| %>
              <%= link_to table, class: "ui #{'basic active' unless @table.try(:id) == table.id} button #{table.color}" do %>
                <i class="icon food"></i> <%= table.name %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="side">
          <div class="ui items">
            <div class="ui fluid search selection dropdown combo">
              <input id="table_id" name="table[table_id]" type="hidden">
              <i class="dropdown icon" tabindex="-1"></i>
              <input class="search table-search" tabindex="0"><div class="default text">Seleccione Mesa</div>
              <div class="menu" tabindex="-1">
                <% @closed_tables.each do |table| %>
                  <div class="item table-option" data-code="<%=table.id%>" data-value="<%=table.id%>">
                    <%= table.name %>
                  </div>
                <% end %>
              </div>
            </div>
            <% if @table && !@table.new_record? %>
              <%= render @table %>
            <% end %>
            <% @closed_tables.each do |table| %>
              <%= render table unless @table.try(:id) == table.id %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="panel <%= current_user.nil? ? 'signin' : nil %>">
        <% if alert %>
          <div class="ui message error">
            <%= alert %>
          </div>
        <% end %>
        <div class="segment ui">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
