-# coding: utf-8
!!!
%html
  %head
    %title BarManager
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if current_user
      #toc.ui.vertical.sidebar.menu.right
        .item
          %a{:href => "/"}
            %b Productos
        .item
          - @categories.each do |cat|
            - Item.by_category(cat.id).favourites.each_with_index do |item, index|
              - if index == 0
                .ui.small.header= cat.name
              .menu
                .item
                  = item.description
                  .ui.label
                    = item.code
        .item
          %a{:href => "/"}
            %b Promos
        .item
          .menu
            - Promotion.favourites.each do |prom|
              .item
                .ui.label.left.teal
                  = prom.code
                = prom.description

    .pusher
      = render partial: '/layouts/nav'
      .main.container

        - flash.each do |name, msg|
          = content_tag :div, msg, class: "ui message #{name}"

        - if current_user
          .side
            %h4.ui.header Turno actual
            - if @current_shift
              .two.ui.buttons
                = link_to @current_shift, class: "ui button blue" do
                  %i.icon.idea
                  Ver
                = link_to close_shift_path(@current_shift), method: :put, class: "ui button" do
                  %i.icon.lock
                  Cerrar
            - else
              = link_to new_shift_path, class: "ui button blue fluid" do
                %i.icon.unlock
                Abrir turno
            .ui.divider
            = link_to new_ticket_path, class: "ui basic active fluid button teal" do
              %i.icon.send
              Ticket para llevar
            .ui.items
              .ui.fluid.search.selection.dropdown.combo.tables
                %input#table_id{:name => "table[table_id]", :type => "hidden"}/
                %i.dropdown.icon{:tabindex => "-1"}
                %input.search.table-search{:tabindex => "0"}/
                .default.text Seleccionar Mesa
                .menu{:tabindex => "-1"}
                  - @tables.each do |table|
                    - unless table.new_record?
                      .item.table-option{"data-code" => table.id, "data-value" => table.id}
                        = table.name
              %h4.ui.header Mesas abiertas
              .ui.stackable.one.column.grid
                .column
                  - @wtable_tickets.each do |ticket|
                    %p
                      - if ticket.table && !ticket.client
                        = link_to ticket, class: "ui #{'basic active' unless @ticket.try(:id) == ticket.id} button #{ticket.table.color} fluid" do
                          %i.icon.food
                          = ticket.table.name
                      - elsif ticket.client && !ticket.table
                        = link_to ticket, class: "ui #{'basic active' unless @ticket.try(:id) == ticket.id} button fluid" do
                          %i.icon.food
                          = ticket.client.name
                      - elsif ticket.client && ticket.table
                        = link_to ticket, class: "ui #{'basic active' unless @ticket.try(:id) == ticket.id} button #{ticket.table.color} fluid" do
                          %i.icon.food
                          = ticket.table.name
                          \-
                          = ticket.client.name

                  - @ntable_tickets.each do |ticket|
                    %p
                      = link_to ticket, class: "ui #{'basic active' unless @ticket.try(:id) == ticket.id} button  teal fluid" do
                        %i.icon.send
                        = "Para llevar ##{ticket.number}"

        .panel{:class => "#{current_user.nil? ? 'signin' : nil}"}
          .segment.ui
            = yield
