-# coding: utf-8
!!!
%html
  %head
    %title BarManager
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .pusher
      = render partial: '/layouts/nav_kitchen'
      .main.container
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "ui message #{name}"
        .segment.ui
          = yield
